doctype html
html(ng-app="app" ng-controller="MainController")
  head
    title Equities Analyzer
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="./style.css")
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="./node_modules/angular/angular.js")
    script(src="./node_modules/angular-route/angular-route.js")
    script(src="./app.js")

  body(autoscroll)
    .container
      .row
      nav.navbar.navbar-inverse(ng-controller="NavController")
        div.container-fluid
          div.navbar-header
            a.navbar-brand(href="#/")
          ul.nav.navbar-nav
            li(ng-class="{active:isActive('/')}")
              a(href="#/") Home
            li(ng-class="{active:isActive('/stocks')}")
              a(href="#/stocks") Stocks
            li(ng-class="{active:isActive('/indices')}")
              a(href="#/indices") Indices
            li(ng-class="{active:isActive('/currencies')}")
              a(href="#/currencies") Currencies
      ng-view
