doctype html
html(ng-app="app" ng-controller="MainController")
  head
    title Equities Analyzer
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="./style.css")
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    script(src="./node_modules/angular/angular.js")
    script(src="./node_modules/angular-route/angular-route.js")
    script(src="./app.js")

  body(autoscroll)
    .container
      .row
      
      .navbar.navbar-fixed-top.navbar-default(ng-controller="NavController")
        .container-fluid
          .navbar-header
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a.navbar-brand(href="#/")
              img(src="logo.png")
          .collapse.navbar-collapse(id="myNavbar")
            ul.nav.navbar-nav
              li(ng-class="{active:isActive('/')}")
                a(href="#/" data-toggle="collapse" data-target="#myNavbar") Home
              li(ng-class="{active:isActive('/stocks')}")
                a(href="#/stocks" data-toggle="collapse" data-target="#myNavbar") Stocks
              li(ng-class="{active:isActive('/indices')}")
                a(href="#/indices" data-toggle="collapse" data-target="#myNavbar") Indices
              li(ng-class="{active:isActive('/currencies')}")
                a(href="#/currencies" data-toggle="collapse" data-target="#myNavbar") Currencies
      ng-view
