.container
  h2 Equities Analyzer
  .panel.panel-default.panel-primary
    .panel-heading Choose your category
    .panel-body
        p Choose your category from the options displayed above to begin conducting the equities analysis that best suits your financial and market requirements at this time.
        
