.container
  h2 movies
  .list(ng-repeat="item in movieList track by $index") 
    a(href="https://thepiratebay.org/{{item.attribs.href}}" target="_blank")
      p {{item.children[0].data}}
  
  button.btn.btn-block.btn-info.btn-lg(ng-click="onClickNext()") Next
